


.showData{
    width: 300px; height: 400px; border: 1px solid black; position: fixed; right: 50px; top: 120px; text-align: left; padding-left: 30px; box-sizing: border-box; overflow: auto;
}

.active{ background: grey; }
